*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
    font-style: normal;
}

body {
    background-color: #E5E5E5;
}

.container {
    margin: 0 auto;
    margin-top: 30px;
    width: 375px;
    background-color: #F4F4F4;
}

header {
    color: white;
    width: 375px;
    height: 66px;
    background-color: black;
}

h1{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    text-align: center;
    padding-top: 25px;
}

main{
    padding: 24px;
}

label{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
}

select {
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-top: 6px;
    cursor: pointer;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    outline: none;
    appearance: none;
}
input {
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-top: 6px;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);

    outline: none;
    appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} 

input[type="number"] {
    -moz-appearance : textfield;
}

button {
    width: 327px;
    height: 48px;
    background: black;
    border: none;
    border-radius: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #F4F4F4;
    margin: 5px 0px 15px 0px;
    cursor: pointer;
}

button:hover{
    opacity: 0.9;
}

button:active{
    opacity: 0.7;
}

section {
    border: 2px solid black;
    border-radius: 6px;
}

.container-section{
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.section-name{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
}

.section-value{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: black;
}

.arrow-img{
    display: block;
    margin: 15px auto;
    background: transparent;
}